<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceImg" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50953/ServiceImg.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceImg" contract="ServiceReference1.IServiceImg"
                name="BasicHttpBinding_IServiceImg" />
        </client>
    </system.serviceModel>
</configuration>