<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceImg" />
        <binding name="BasicHttpBinding_IServiceVk" />
        <binding name="BasicHttpBinding_IServiceWord" />
        <binding name="BasicHttpBinding_IServicePicture" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50953/ServiceImg.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceImg" contract="ServiceImg.IServiceImg"
        name="BasicHttpBinding_IServiceImg" />
      <endpoint address="http://localhost:62681/ServiceVk.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceVk" contract="ServiceVk.IServiceVk"
        name="BasicHttpBinding_IServiceVk" />
      <endpoint address="http://localhost:53467/ServiceWord.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceWord" contract="ServiceWord.IServiceWord"
        name="BasicHttpBinding_IServiceWord" />
      <endpoint address="http://localhost:57918/ServicePicture.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePicture"
        contract="ServicePicture.IServicePicture" name="BasicHttpBinding_IServicePicture" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--Чтобы при сбое получать подробные сведения об исключении для отладки, задайте следующему параметру значение "true". Чтобы информация об исключении не выдавалась, задайте до развертывания значение "false". -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
